body {
  background-color: #4a4a4d;
}

.App {
  text-align: center;
  background-image: url("https://img.freepik.com/free-vector/elegant-white-background-with-shiny-lines_1017-17580.jpg?w=740&t=st=1679512510~exp=1679513110~hmac=f11133fb055b597c82b02ab2f430f8690715d439ffdb8958033d65180f565fd9");
  background-repeat: "no-repeat";
  background-position: "center";
  width: "100vw";
  min-height: "100vh";
  /* background-color: #4a4a4d; */

  /* background-size: "cover";
         
          */
}

a {
  color: inherit;
  text-decoration: inherit;
}
.contact_form {
  display: inline;
}
.project-image {
  height: 50%;
  width: 50%;
}
.profile {
  border-radius: 50%;
  width: 5%;
  margin-right: 5%;
}
button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
